<!-- https://gist.github.com/goodreds/3d044027175954984fb96c7407a955ab -->

<!-- Container -->
<div class="relative flex flex-col items-center mx-auto lg:flex-row-reverse lg:max-w-5xl lg:mt-12 xl:max-w-6xl xl:h-[780px]">

    <!-- Image Column -->
    <div class="w-full h-64 lg:w-1/2 xl:h-[610px]">
        <img class="rounded-md h-full w-full object-cover" src="https://picsum.photos/id/1018/2000" alt="Winding mountain road">
    </div>
    <!-- Close Image Column -->

    <!-- Text Column -->
    <div
        class="max-w-lg rounded-md bg-white md:max-w-2xl md:z-10 md:shadow-lg md:absolute md:top-0 md:mt-48 lg:w-3/5 lg:left-0 lg:mt-20 lg:ml-20 xl:mt-28 xl:ml-12">
        <!-- Text Wrapper -->
        <div class="flex flex-col p-12 md:px-16">
            <h2 class="text-2xl font-medium uppercase text-blue-400 lg:text-4xl">Fisioterapia en tu cuerpo</h2>
            <p class="mt-4">
                La fisioterapia no solo trata lesiones, sino que también juega un papel clave en la prevención y el mantenimiento de la salud. 
                En nuestro consultorio, trabajamos contigo para fortalecer tu cuerpo, mejorar tu postura y evitar futuras complicaciones. 
                Ya sea que estés recuperándote de una lesión o buscando optimizar tu rendimiento físico, 
                nuestro enfoque integral te ayudará a alcanzar tus objetivos de salud y bienestar.
            </p>
            <!-- Button Container -->
            <div class="mt-8">
                <a href="#"
                    class="inline-block rounded-md w-full text-center text-lg font-medium text-gray-100 bg-blue-500 border-solid border-2 border-gray-600 py-4 px-10 hover:bg-blue-400 hover:shadow-md md:w-48">Read
                    More</a>
            </div>
        </div>
        <!-- Close Text Wrapper -->
    </div>
    <!-- Close Text Column -->

</div>