<div class="lg:max-w-2xl xl:max-w-6xl mx-auto xl:h-[450px]">
    <p class="text-base font-semibold leading-6 text-blue-500 uppercase text-center xl:text-lg">
        Securing your API
    </p>
    <h4 class="mt-2 text-2xl font-extrabold leading-8 text-gray-900 xl:text-4xl sm:leading-9 text-center">
        Powerful Security Options
    </h4>

    <ul class="mt-8 space-y-8 font-medium text-center justify-items-center">
        <li class="flex items-center lg:col-span-1">
            <div class="flex-shrink-0">
                <svg class="w-5 h-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <p class="ml-3 leading-5 text-gray-600">
                Secure every API endpoint with our built in authentication.
            </p>
        </li>
        <li class="flex items-center lg:col-span-1">
            <div class="flex-shrink-0 items-center">
                <svg class="w-5 h-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <p class="ml-3 leading-5 text-gray-600 text-center">
                Restrict capabilities using Token-Based Access Controls.
            </p>
        </li>
        <li class="flex items-center lg:col-span-1">
            <div class="flex-shrink-0">
                <svg class="w-5 h-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <p class="ml-3 leading-5 text-gray-600">
                Easily Manage API Keys.
            </p>
        </li>
        <li class="flex items-center lg:col-span-1">
            <div class="flex-shrink-0">
                <svg class="w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <p class="ml-3 leading-5 text-gray-600">
                Custom validations to validate input coming to your API.
            </p>
        </li>
    </ul>
</div>